<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% assign page_title = page.title | default: site.title %}
<title>{{ page_title }}{% unless page_title == site.title %} | {{ site.title }}{% endunless %}</title>
<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | strip_newlines | escape }}">

<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
